In [3]:
import numpy as np
import pandas as pd

In [4]:
print(np.__version__)

1.26.0

Reading csv with pandas

In [5]:
car_prices = pd.read_csv('/Users/gaby/Desktop/Repos/zoomcamp/car_prices.csv')
car_prices.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

Q2: How many records(rows) are in the dataset?

In [6]:
len(car_prices)

11914

Q3: Who are the most frequent car manufacturers (top-3) according to the dataset?

In [7]:
car_prices['Make'].value_counts().sort_values(ascending=False)

Make
Chevrolet        1123
Ford              881
Volkswagen        809
Toyota            746
Dodge             626
Nissan            558
GMC               515
Honda             449
Mazda             423
Cadillac          397
Mercedes-Benz     353
Suzuki            351
BMW               334
Infiniti          330
Audi              328
Hyundai           303
Volvo             281
Subaru            256
Acura             252
Kia               231
Mitsubishi        213
Lexus             202
Buick             196
Chrysler          187
Pontiac           186
Lincoln           164
Oldsmobile        150
Land Rover        143
Porsche           136
Saab              111
Aston Martin       93
Plymouth           82
Bentley            74
Ferrari            69
FIAT               62
Scion              60
Maserati           58
Lamborghini        52
Rolls-Royce        31
Lotus              29
Tesla              18
HUMMER             17
Maybach            16
Alfa Romeo          5
McLaren             5
Spyker              3
Genesis             3
Bugatti             3
Name: count, dtype: int64

In [12]:
#Another way for Q3
top3 = car_prices['Make'].value_counts()
top3[:3]

Make
Chevrolet     1123
Ford           881
Volkswagen     809
Name: count, dtype: int64

Q4:What's the number of unique Audi car models in the dataset?

In [8]:
df= car_prices[car_prices['Make'] == 'Audi']
df_Audi = df['Model'].nunique()

print(df_Audi)


# df_Audi = df['Model'].unique()
# print(df_Audi) 
# printea los 34 nombres de modelos   ... ojo! diferencia entre .unique() vs .nunique()

34

Q5:How many columns in the dataset have missing values?

In [17]:

# create a Boolean mask for missing values
missing_values = car_prices.isnull()

# count the number of missing values in each column
missing_counts = missing_values.sum()

# print the column names with missing values
print(missing_counts[missing_counts > 0].index.tolist())

missing_val_col = missing_counts[missing_counts > 0].index.tolist()

#print num of columns with null values
print(len(missing_val_col))

['Engine Fuel Type', 'Engine HP', 'Engine Cylinders', 'Number of Doors', 'Market Category']
5

Q6: 
1- Find the median value of "Engine Cylinders" column in the dataset.
2- Next, calculate the most frequent value of the same "Engine Cylinders".
3- Use the fillna method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.
4- Now, calculate the median value of "Engine Cylinders" once again.

In [28]:
#1 median value of column "Engine Cylinders"

median_value_EC= car_prices["Engine Cylinders"].median()
print(median_value_EC)

#Rta: 6.0

#2 most frequent value of the same "Engine Cylinders"  (mode)

mode_EC= car_prices["Engine Cylinders"].value_counts().idxmax()
print(mode_EC)

#Rta= 4.0

#3 fillna method to fill the missing values with the most frequent value from the previous step.

df_filled = car_prices['Engine Cylinders'].fillna(car_prices['Engine Cylinders'].mode()[0])

#df_filled.head(100)

#4 median value of "Engine Cylinders" once again

print(df_filled.median())

6.0
4.0
6.0

Q7: 
1-Select all the "Lotus" cars from the dataset.
2-Select only columns "Engine HP", "Engine Cylinders".
3-Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).
4-Get the underlying NumPy array. Let's call it X.
5-Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
6-Compute the inverse of XTX.
7-Create an array y with values [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800].
8-Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
9-What's the value of the first element of w?

In [59]:
#1 Lotus is value of "Make" column

df_lotus = car_prices[car_prices["Make"] =="Lotus"] 
#df_lotus.head()

#2 only columns "Engine HP", "Engine Cylinders"

df_lotus_Engine = df_lotus[["Engine HP", "Engine Cylinders"]]
#df_lotus_Engine.head()

#3 drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows)

df_2 = df_lotus_Engine.drop_duplicates()
#df_2.head(10)

#4 Get the underlying NumPy array. Let's call it X. "Me meto en la estructura interna"

X = df_2.to_numpy()
#print(X)

#5 Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX

TX = X.T
#print (TX)

XTX = np.matmul(TX, X)
#print(XTX)

#6 Compute the inverse of XTX.

XTX_inverse = np.linalg.inv(XTX)
#print(XTX_inverse)

#7 Create an array y with values [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800].

y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])
#print(y)

#8 Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.

XTX_inverse_X_TX = np.matmul(XTX_inverse, TX)
#print(XTX_inverse_X_TX)

w = np.matmul(XTX_inverse_X_TX, y)
print(w)

#9 What's the value of the first element of w?

print(w[0])

[  4.59494481 -63.56432501]
4.5949448100945744